
<form action="../controller/documentactions.php" enctype="multipart/form-data" method="post" style="margin-left:400px">
<b>Select File to Upload to the Database</b>  <input type="file" name="file"> 
<input type="submit" value="Upload" name="documentsubmit">
</form>

<div class="container my-3">
    <table id="user_table" class="table table-striped container">
           <thead>
                <tr>
                    <th>Doc ID.</th>
                    <th>Doc Name</th> 
                    <th>Action</th>
                    <th>Action</th>   
                </tr>
            </thead>
            <tbody> 
                {% for data in arr %}
                <tr>
                    <td>{{ data.docid }}</td>
                    <td>{{ data.docname }}</td>
                    <td><a href="../controller/documentactions.php?updatedocid={{data.docid}}"><b>Update</b></a></td>
                    <td><a href="../controller/documentactions.php?deletedocid={{data.docid}}"><b>Delete</b></a></td>
                </tr>
                {% endfor %}

            </tbody>
    </table>
</div>
